<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Companies</title>
  <link rel="stylesheet" href="styles/copmaniesss.css" />
  <link rel="shourt icon" type="image/png" href="logo.png"/>
  
</head>
<body>
  <nav>
    <ul id="navbar">
        <a href="/home" class="logo-link">
            <img src="logo.png" id="img" alt="Logo" />
        </a>
       
        <a href="/home" id="text">
          KariyerYa
        </a>

      <!-- Yukarıdaki satırın düzeltilmiş hali -->
      <!-- <a href="home.html"><img src="logo.png" id="img" /></a> -->

      <li id="home"><a href="/home">Home</a></li>
      <div id="profile" class="dropdown">
        <button class="dropbtn"><%= userName %></button>
        <div class="dropdown-content">
          <a href="/profile">Profile</a>
          <form id="logout-form" action="/logout" method="post" style="display: inline;">
            <button id="logout-formb" type="submit">Logout</button>
          </form>
        </div>
      </div>      
    </ul>
  </nav>
  <div class="middle">
    <div class="box">
        <a href="#" data-company="Huawei">
            <img src="images/Huawei.png" alt="Huawei Logo" width="150" height="150">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="Türk Telekom">
            <img src="images/Türk_Telekom .png" alt="Türk Telekom Logo" width="200" height="200">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="Sabancı">
            <img src="images/sabancı.png" alt="Sabancı Logo" width="100" height="100">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="Zorlu">
            <img src="images/Zorlu.png" alt="Zorlu Logo" width="100" height="100">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="ETS">
            <img src="images/ets.png" alt="ETS Logo" width="100" height="100">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="Logo">
            <img src="images/Logo-.png" alt="Logo" width="100" height="100">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="Turkcell">
            <img src="images/turkcell.png" alt="Turkcell Logo" width="100" height="100">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="LC Waikiki">
            <img src="images/lcwaikiki.png" alt="LC Waikiki Logo" width="100" height="100">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="Migros">
            <img src="images/migros-logo.png" alt="Migros Logo" width="100" height="100">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="Vestel">
            <img src="images/vestel.png" alt="Vestel Logo" width="100" height="100">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="Tchibo">
            <img src="images/tchibo.png" alt="Tchibo Logo" width="100" height="100">
        </a>
    </div>
    <div class="box">
        <a href="#" data-company="Mercedes-Benz">
            <img src="images/Mercedes-Benz.png" alt="Mercedes-Benz Logo" width="100" height="100">
        </a>
    </div>
</div>

  <div id="companyDetails"></div>
    

  <footer>
    <p id="copy">&copy; 2024 KariyerYa</p>
  </footer>
  <script src="js/home.js"></script>
  <script src="js/companies.js"></script>
</body>
</html>
