<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Universities</title>
  <link rel="stylesheet" href="styles/companies.css" />
  <link rel="shourt icon" type="image/png" href="logo.png"/>
</head>
<body>
  <nav>
    <ul id="navbar">
      <a href="/home" class="logo-link">
        <img src="logo.png" id="img" alt="Logo" />
      </a>
      <a href="/home" id="text">
        Career Cliquee
      </a>
      <li id="home"><a href="/home">Home</a></li>
      <div id="profile" class="dropdown">
        <button class="dropbtn"><%= userName %></button>
        <div class="dropdown-content">
          <a href="/profile">Profile</a>
          <form id="logout-form" action="/logout" method="post" style="display: inline;">
            <button id="logout-formb" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </ul>
  </nav>
  <div class="middle">
    <div class="box">
      <a href="#" data-university="Beykoz">
        <img src="images/beykoz.png" alt="Beykoz" width="150" height="150">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="bogazici">
        <img src="images/bogazici.png" alt="Bogazici" width="200" height="200">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="itü">
        <img src="images/itü.png" alt="ITÜ" width="100" height="100">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="koc">
        <img src="images/koç.png" alt="Koç" width="100" height="100">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="sabanci">
        <img src="images/sabancı.svg" alt="Sabanci" width="100" height="100">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="gebzeteknik">
        <img src="images/gebzeteknik.png" alt="Gebze Teknik" width="100" height="100">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="odtü">
        <img src="images/ödtü.png" alt="ODTÜ" width="100" height="100">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="ankara">
        <img src="images/Ankara_Üniversitesi_logosu.png" alt="Ankara" width="100" height="100">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="ege">
        <img src="images/Ege_University_logo.svg.png" alt="Ege" width="100" height="100">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="19mayis">
        <img src="images/1200px-OMÜ_logo.svg.png" alt="19 Mayis" width="100" height="100">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="karadenizTeknik">
        <img src="images/logo-karadeniz-teknik-universitesi.png" alt="Karadeniz Teknik" width="100" height="100">
      </a>
    </div>
    <div class="box">
      <a href="#" data-university="ataturkuni">
        <img src="images/Ataturkuni_logo.png" alt="Atatürk Uni" width="100" height="100">
      </a>
    </div>
  </div>
  <div id="universityDetails"></div>
  <footer>
    <p id="copy">&copy; 2024 Career Cliquee</p>
  </footer>
  <script src="js/home.js"></script>
  <script src="js/universities.js"></script>
</body>
</html>
