/* styles/home.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    display: flex;
    margin-left: 300px;
    align-items: center;
}

.right-section {
    flex: 1;
    display: flex;
    margin-left: -400px;
    align-items: center;
}

.logo img {
    width: 300px;
}

.brand-name {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    margin-left: -15px; /* Metni sola kaydır */
}

.box {
    border-radius: 10px; /* Köşeleri yuvarlak yap */
    overflow: hidden; /* İçeriklerin köşeleri dışarı taşmasını önle */
}

.image-link {
    display: block; /* Bağlantıyı blok öğe haline getir */
    text-decoration: none; /* Alt çizgiyi kaldır */
    color: #FFFFFF; /* Yazı rengini beyaz yap */
    transition: background-color 0.3s; /* Arka plan rengi değişimini yumuşak hale getir */
}

.image-link:hover {
    background-color: #1E5F8B; /* Farenin üzerine geldiğinde arka plan rengini değiştir */
}

.image {
    display: block; /* Resmi blok öğe haline getir */
    width: 100%; /* Tam genişlikte olmasını sağla */
    height: auto; /* Orantılı bir şekilde boyutlandır */
}

.label {
    text-align: center; /* Metni ortala */
    background-color: rgba(0, 0, 0, 0.5); /* Yarı şeffaf siyah arka plan rengi */
    padding: 5px; /* Dolgu ekle */
    font-size: 16px; /* Yazı boyutunu ayarla */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.box {
    margin: 0 10px;
}

.box:hover {
    transform: scale(1.1); /* 10% büyütme efekti */
}

.box img {
    width: 200px;
    border-radius: 10px;
}

#profile {
    position: absolute;
    left: calc(50% + 460px); /* Resmin sağında olacak şekilde sola kaydır */
    top: 40px; /* Üstten boşluk bırak */
    display: block;
    color: #fff; /* Metin rengi */
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 2px 2px;
    text-decoration: none;
    border-radius: 12px; /* Köşeleri yuvarlama */
    background-color: #6fc0ed; /* Mavi arka plan */
    font-weight: bold; /* Metinleri kalın yapma */
    transition: all 0.3s ease; /* Geçiş efekti */
    border: 4px solid #1E5F8B; /* Border rengi ve kalınlığı */
}

 /* Dropdown Button */
.dropbtn {
  background-color: #6fc0ed;
  color: white;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;

  border: none;
  border-radius: 10px; /* Köşeleri yuvarlama */
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
#logout-formb {
    background-color: #6fc0ed;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px; /* Köşeleri yuvarlama */
    cursor: pointer; /* Fare işaretçisini göster */
    transition: all 0.3s ease; /* Geçiş efekti */
}

#logout-formb:hover {
    background-color: #1E5F8B; /* Hover durumda arka plan rengini değiştir */
    transform: scale(1.05); /* Hover durumda butonu hafifçe büyüt */
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6fc0ed;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fff;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #1E5F8B;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #1E5F8B;} 

