/* CSS styles for login page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 100px;
}

.logo-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-field {
    margin-bottom: 20px;
    text-align: left;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3E92CC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2974A9;
}

p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

p a {
    color: #3E92CC;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}